$white: #FFFFFF;
$isabelline: #EEEDED;
$spanish-gray: #989797;
$coral: #FA824C;
$buff: #F1DD7B;
$vanilla: #F5E7A1;
$flame: #E4572E;
$light-red: #E87554;
$pastel-pink: #F2B2A0;
$shiny-shamrock: #4CA866;
$turquoise-green: #9DCFAB;
$pastel-gray: #BDDFC7;
$blue-france: #3C91E6;
$blue-jeans: #5FA5EA;
$jordy-blue: #82B9EF;
$black: #000000;
$outer-space: #454545;
$quick-silver: #A2A2A2;

$fuente-mono: 'PT Mono', monospace;
$fuente-roboto: 'Roboto', sans-serif;

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;