.header{
    display: flex;
    height: 80px;
    padding: 10px 30px;
}

@media (max-width: 800px) {
    .header{
        flex-direction: column;
        height: 200px;
        &__image{
            width: 50px;
            display: block;
            margin: 0 auto;
        }
    }
}