.sectionTwo{
    position: relative;
    clear: both;
    top: -4px;
    height: 300px;
    .boxOne{
        width: 35%;
        float: left;
        box-sizing: border-box;
        padding: 40px 10px 40px 40px;
        &__title{
            font-family: $fuente-mono;
            font-size: $x-large;
            @include font-weight(regular);
            margin: 0;
        }
        &__paragraph{
            font-family: $fuente-roboto;
            font-size: $medium;
            @include font-weight(light);
            width: 90%;
            line-height: 22px;
        }
    }
    .boxTwo{
        width: 28%;
        float: left;
        position: relative;
        top: 40px;
        &__blue{
            background-color: $blue-france;
            position: absolute;
            top: -40px;
            left: 40px;
            width: 1200px;
            height: 200px;
            z-index: 1;
        }
        &__image{
            width: 100%;
            height: 170px;
            position: relative;
            z-index: 2;
        }
    }
    .boxTree{
        width: 30%;
        float: right;
        position: relative;
        z-index: 3;
        &__image{
            width: 100%;
            height: 230px;
        }
        &__imageTwo{
            position: absolute;
            width: 80px;
            height: 150px;
            left: -50px;
        }
    }
}

@media (max-width: 500px) {
    .sectionTwo{
        .boxOne{
            margin-top: 40px;
        }
    }
}

@media (max-width: 800px) {
    .sectionTwo{
        height: 700px;
        .boxOne{
            width: 100%;
            float: none;
            padding: 20px;
            text-align: center;
            &__paragraph{
                width: 100%;
            }
        }
        .boxTwo{
            width: 100%;
            float: none;
            top: 0;
            &__image{
                width: 50%;
                height: 200px;
                display: block;
                margin: 0 auto;
            }
            &__blue{
                display: none;
            }
        }
        .boxTree{
            width: 100%;
            float: none;
            &__imageTwo{
                display: none;
            }
            &__image{  
                width: 70%;
                height: 250px;
                display: block;
                margin: 40px auto;
            }
        }
    }
}